@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 16px;
}
html,
body {
  padding: 1.5rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
main {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



a {
  text-decoration: underline;
}

input,
textarea {
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: .5rem;
}

button {
  background-color: blueviolet;
  color: white;
  font-size: 1.5rem;
  padding: 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}
